In [ ]:
# import packages
!pip install dmba
import dmba
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.preprocessing import LabelEncoder
import matplotlib.pylab as plt
from dmba import plotDecisionTree, classificationSummary, regressionSummary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dmba in /usr/local/lib/python3.9/dist-packages (0.1.0)

In [ ]:
# load dataset
voter_df = pd.read_csv('FX_indicators_2020.csv', on_bad_lines='skip')

In [ ]:
voter_df.head()

,VOTER_ID,SET_NO,OPP_SEX,AGE,HH_ND,HH_NR,HH_NI,MED_AGE,MED_AGE_M,MED_AGE_F,...,MOVED_RDMA,MOVED_DRMA,MOVED_AWMA,MOVED_ADMA,MOVED_ARMA,MOVED_RDMB,MOVED_DRMB,MOVED_AWMB,MOVED_ADMB,MOVED_ARMB
0,84508,3,0,25,4,0,0,38,39,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,608312,1,0,35,0,0,3,46,46,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,222821,3,0,73,3,0,0,42,36,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,137882,2,0,54,1,1,0,37,34,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,531303,2,0,51,0,3,0,46,46,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
voter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384987 entries, 0 to 384986
Columns: 152 entries, VOTER_ID to MOVED_ARMB
dtypes: float64(2), int64(105), object(45)
memory usage: 446.5+ MB

In [ ]:
column_names = voter_df.columns.tolist()
column_names

['VOTER_ID',
 'SET_NO',
 'OPP_SEX',
 'AGE',
 'HH_ND',
 'HH_NR',
 'HH_NI',
 'MED_AGE',
 'MED_AGE_M',
 'MED_AGE_F',
 'NH_WHITE',
 'NH_AA',
 'NH_NATAM',
 'NH_ASIAN',
 'NH_HPI',
 'NH_OTHER',
 'NH_MULT',
 'HISP',
 'COMM_LT10',
 'COMM_609P',
 'MED_HH_INC',
 'COMM_CAR',
 'COMM_CP',
 'COMM_PT',
 'COMM_WALK',
 'KIDS',
 'KIDS_MC',
 'M_NEV_MAR',
 'M_MAR',
 'M_MAR_SP',
 'M_MAR_SNP',
 'F_NEV_MAR',
 'F_MAR',
 'F_MAR_SP',
 'F_MAR_SNP',
 'ED_ASSOC',
 'ED_BACH',
 'ED_MD',
 'ED_PROF',
 'ED_DOC',
 'ED_4COL',
 'GENDER_F',
 'GENDER_M',
 'H_AFDLN3P',
 'H_AFSSLN3P',
 'H_F1',
 'H_FFDLN2',
 'H_FFSLN2',
 'H_M1',
 'H_MFDLN2',
 'H_MFDLN3P',
 'H_MFSLN2',
 'H_MFSLN3P',
 'H_MFSSLN3P',
 'H_MMDLN2',
 'H_MMSLN2',
 'PARTY_D',
 'PARTY_I',
 'PARTY_R',
 'HHP_D',
 'HHP_DD',
 'HHP_DI',
 'HHP_DR',
 'HHP_I',
 'HHP_II',
 'HHP_R',
 'HHP_RI',
 'HHP_RR',
 'VPP_12',
 'VPP_16',
 'VPR_12',
 'VPR_14',
 'VPR_16',
 'VG_08',
 'VG_10',
 'VG_12',
 'VG_14',
 'VG_16',
 'PP_PELIG',
 'PR_PELIG',
 'AP_PELIG',
 'G_PELIG',
 'E_PELIG',
 'NL5G',
 'NL3PR',
 'NL5AP',
 'NL2PP',
 'REG_DAYS',
 'UPSCALEBUY',
 'UPSCALEMAL',
 'UPSCALEFEM',
 'BOOKBUYERI',
 'FAMILYMAGA',
 'FEMALEORIE',
 'RELIGIOUSM',
 'GARDENINGM',
 'CULINARYIN',
 'HEALTHFITN',
 'DOITYOURSE',
 'FINANCIALM',
 'RELIGIOUSC',
 'POLITICALC',
 'MEDIANEDUC',
 'PRS16_PD',
 'PRS16_PR',
 'MSG_A',
 'MSG_B',
 'CAND1S',
 'CAND2S',
 'MESSAGE',
 'VG_14_DV',
 'D2',
 'R2',
 'D3',
 'R3',
 'I3',
 'CAND1_UND',
 'CAND1_SD2',
 'CAND1_SDA',
 'CAND1_LD2',
 'CAND1_LDA',
 'CAND1_SR2',
 'CAND1_SRA',
 'CAND1_LRA',
 'CAND1_LR2',
 'CAND1_SFT',
 'CAND2_UND',
 'CAND2_SD2',
 'CAND2_SDA',
 'CAND2_LD2',
 'CAND2_LDA',
 'CAND2_SR2',
 'CAND2_SRA',
 'CAND2_LRA',
 'CAND2_LR2',
 'CAND2_SFT',
 'MOVED_RD',
 'MOVED_DR',
 'MOVED_AW',
 'MOVED_U',
 'MOVED_AD',
 'MOVED_AR',
 'MOVED_RDMA',
 'MOVED_DRMA',
 'MOVED_AWMA',
 'MOVED_ADMA',
 'MOVED_ARMA',
 'MOVED_RDMB',
 'MOVED_DRMB',
 'MOVED_AWMB',
 'MOVED_ADMB',
 'MOVED_ARMB']

In [ ]:
voter_df.head()

,VOTER_ID,SET_NO,OPP_SEX,AGE,HH_ND,HH_NR,HH_NI,MED_AGE,MED_AGE_M,MED_AGE_F,...,MOVED_RDMA,MOVED_DRMA,MOVED_AWMA,MOVED_ADMA,MOVED_ARMA,MOVED_RDMB,MOVED_DRMB,MOVED_AWMB,MOVED_ADMB,MOVED_ARMB
0,84508,3,0,25,4,0,0,38,39,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,608312,1,0,35,0,0,3,46,46,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,222821,3,0,73,3,0,0,42,36,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,137882,2,0,54,1,1,0,37,34,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,531303,2,0,51,0,3,0,46,46,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
voter_df = voter_df.replace({'Y': 1, 'N': 0})

In [ ]:
voter_df = voter_df.fillna(voter_df.mode())

In [ ]:
voter_df = voter_df.apply(pd.to_numeric, errors='coerce').fillna(0)

In [ ]:
# split the dataset on which message each voter received
df_a = voter_df.loc[voter_df['MSG_A'] == 1].copy()
df_b = voter_df.loc[voter_df['MSG_B'] == 1].copy()

In [ ]:
# create a new column in each dataframe indicating whether the message received was effective in any way
df_a['a_effective'] = (df_a['MSG_A'] == 1) & (df_a['MOVED_ADMA'] == 1)
df_b['b_effective'] = (df_b['MSG_B'] == 1) & (df_b['MOVED_ADMB'] == 1)

In [ ]:
# run a model for dataset a
X = pd.get_dummies(df_a.drop(['MESSAGE','MSG_A','MSG_B','CAND1_UND', 'CAND1_SD2', 'CAND1_SDA', 'CAND1_LD2', 'CAND1_LDA', 'CAND1_SR2', 'CAND1_SRA', 'CAND1_LRA', 'CAND1_LR2', 'CAND1_SFT', 'CAND2_UND', 'CAND2_SD2', 'CAND2_SDA', 'CAND2_LD2', 'CAND2_LDA', 'CAND2_SR2', 'CAND2_SRA', 'CAND2_LRA', 'CAND2_LR2', 'CAND2_SFT', 'MOVED_RD', 'MOVED_DR', 'MOVED_AW', 'MOVED_U', 'MOVED_AD', 'MOVED_AR', 'MOVED_RDMA', 'MOVED_DRMA', 'MOVED_AWMA', 'MOVED_ADMA', 'MOVED_ARMA', 'MOVED_RDMB', 'MOVED_DRMB', 'MOVED_AWMB', 'MOVED_ADMB', 'MOVED_ARMB', 'a_effective','VOTER_ID'], axis=1))
y = df_a['a_effective']

In [ ]:
# partition the data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.4, random_state = 1)

In [ ]:
dtc = DecisionTreeClassifier(max_depth = 20, random_state = 1)

In [ ]:
# train the model
dtc.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=20, random_state=1)

In [ ]:
classificationSummary(y_train, dtc.predict(X_train))

Confusion Matrix (Accuracy 0.9483)

       Prediction
Actual     0     1
     0 15150    73
     1   856  1898

In [ ]:
classificationSummary(y_valid, dtc.predict(X_valid))

Confusion Matrix (Accuracy 0.7763)

       Prediction
Actual    0    1
     0 9050 1123
     1 1558  255

In [ ]:
importances = dtc.feature_importances_

In [ ]:
importance_df = pd.DataFrame({'feature': X_train.columns, 'importance':importances})
importance_df = importance_df.sort_values('importance')
print(importance_df)

        feature  importance
93   RELIGIOUSM    0.000000
47         H_M1    0.000000
105      CAND2S    0.000000
68       VPP_16    0.000000
104      CAND1S    0.000000
..          ...         ...
101  MEDIANEDUC    0.023981
102    PRS16_PD    0.068228
103    PRS16_PR    0.073090
86     REG_DAYS    0.102848
2           AGE    0.131155

[112 rows x 2 columns]

In [ ]:
# run model on the whole dataset to predict the voters on which message A will have a positive effect
X = pd.get_dummies(voter_df.drop(['MESSAGE','MSG_A','MSG_B','CAND1_UND', 'CAND1_SD2', 'CAND1_SDA', 'CAND1_LD2', 'CAND1_LDA', 'CAND1_SR2', 'CAND1_SRA', 'CAND1_LRA', 'CAND1_LR2', 'CAND1_SFT', 'CAND2_UND', 'CAND2_SD2', 'CAND2_SDA', 'CAND2_LD2', 'CAND2_LDA', 'CAND2_SR2', 'CAND2_SRA', 'CAND2_LRA', 'CAND2_LR2', 'CAND2_SFT', 'MOVED_RD', 'MOVED_DR', 'MOVED_AW', 'MOVED_U', 'MOVED_AD', 'MOVED_AR', 'MOVED_RDMA', 'MOVED_DRMA', 'MOVED_AWMA', 'MOVED_ADMA', 'MOVED_ARMA', 'MOVED_RDMB', 'MOVED_DRMB', 'MOVED_AWMB', 'MOVED_ADMB', 'MOVED_ARMB', 'VOTER_ID'], axis=1))

In [ ]:
voter_df['a_effective'] = dtc.predict(X)

In [ ]:
voter_df.head()

,VOTER_ID,SET_NO,OPP_SEX,AGE,HH_ND,HH_NR,HH_NI,MED_AGE,MED_AGE_M,MED_AGE_F,...,MOVED_DRMA,MOVED_AWMA,MOVED_ADMA,MOVED_ARMA,MOVED_RDMB,MOVED_DRMB,MOVED_AWMB,MOVED_ADMB,MOVED_ARMB,a_effective
0,84508,3,0,25,4,0,0,38,39,38,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,608312,1,0,35,0,0,3,46,46,46,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
2,222821,3,0,73,3,0,0,42,36,48,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
3,137882,2,0,54,1,1,0,37,34,51,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4,531303,2,0,51,0,3,0,46,46,46,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False

In [ ]:
# run a model for dataset b
X = pd.get_dummies(df_b.drop(['MESSAGE','MSG_A','MSG_B','CAND1_UND', 'CAND1_SD2', 'CAND1_SDA', 'CAND1_LD2', 'CAND1_LDA', 'CAND1_SR2', 'CAND1_SRA', 'CAND1_LRA', 'CAND1_LR2', 'CAND1_SFT', 'CAND2_UND', 'CAND2_SD2', 'CAND2_SDA', 'CAND2_LD2', 'CAND2_LDA', 'CAND2_SR2', 'CAND2_SRA', 'CAND2_LRA', 'CAND2_LR2', 'CAND2_SFT', 'MOVED_RD', 'MOVED_DR', 'MOVED_AW', 'MOVED_U', 'MOVED_AD', 'MOVED_AR', 'MOVED_RDMA', 'MOVED_DRMA', 'MOVED_AWMA', 'MOVED_ADMA', 'MOVED_ARMA', 'MOVED_RDMB', 'MOVED_DRMB', 'MOVED_AWMB', 'MOVED_ADMB', 'MOVED_ARMB', 'b_effective','VOTER_ID'], axis=1))
y = df_b['b_effective']

In [ ]:
# partition the data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.4, random_state = 1)

In [ ]:
dtc = DecisionTreeClassifier(max_depth = 20, random_state = 1)

In [ ]:
# train the model
dtc.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=20, random_state=1)

In [ ]:
classificationSummary(y_train, dtc.predict(X_train))

Confusion Matrix (Accuracy 0.9513)

       Prediction
Actual     0     1
     0 15206    75
     1   800  1881

In [ ]:
classificationSummary(y_valid, dtc.predict(X_valid))

Confusion Matrix (Accuracy 0.7762)

       Prediction
Actual    0    1
     0 8988 1165
     1 1515  308

In [ ]:
importances = dtc.feature_importances_

In [ ]:
importance_df = pd.DataFrame({'feature': X_train.columns, 'importance':importances})
importance_df = importance_df.sort_values('importance')
print(importance_df)

        feature  importance
104      CAND1S    0.000000
105      CAND2S    0.000000
47         H_M1    0.000108
40     GENDER_F    0.000161
93   RELIGIOUSM    0.000397
..          ...         ...
3         HH_ND    0.028284
103    PRS16_PR    0.065916
102    PRS16_PD    0.072615
86     REG_DAYS    0.105769
2           AGE    0.111809

[112 rows x 2 columns]

In [ ]:
# run model on the whole dataset to predict the voters on which message A will have a positive effect
X = pd.get_dummies(voter_df.drop(['MESSAGE','MSG_A','MSG_B','CAND1_UND', 'CAND1_SD2', 'CAND1_SDA', 'CAND1_LD2', 'CAND1_LDA', 'CAND1_SR2', 'CAND1_SRA', 'CAND1_LRA', 'CAND1_LR2', 'CAND1_SFT', 'CAND2_UND', 'CAND2_SD2', 'CAND2_SDA', 'CAND2_LD2', 'CAND2_LDA', 'CAND2_SR2', 'CAND2_SRA', 'CAND2_LRA', 'CAND2_LR2', 'CAND2_SFT', 'MOVED_RD', 'MOVED_DR', 'MOVED_AW', 'MOVED_U', 'MOVED_AD', 'MOVED_AR', 'MOVED_RDMA', 'MOVED_DRMA', 'MOVED_AWMA', 'MOVED_ADMA', 'MOVED_ARMA', 'MOVED_RDMB', 'MOVED_DRMB', 'MOVED_AWMB', 'MOVED_ADMB', 'MOVED_ARMB', 'VOTER_ID','a_effective'], axis=1))

In [ ]:
voter_df['b_effective'] = dtc.predict(X)

In [ ]:
voter_df.head()

,VOTER_ID,SET_NO,OPP_SEX,AGE,HH_ND,HH_NR,HH_NI,MED_AGE,MED_AGE_M,MED_AGE_F,...,MOVED_AWMA,MOVED_ADMA,MOVED_ARMA,MOVED_RDMB,MOVED_DRMB,MOVED_AWMB,MOVED_ADMB,MOVED_ARMB,a_effective,b_effective
0,84508,3,0,25,4,0,0,38,39,38,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,False
1,608312,1,0,35,0,0,3,46,46,46,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,False
2,222821,3,0,73,3,0,0,42,36,48,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,False
3,137882,2,0,54,1,1,0,37,34,51,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,False
4,531303,2,0,51,0,3,0,46,46,46,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,False

In [ ]:
voter_df['a_effective'].value_counts()

False    339795
True      45192
Name: a_effective, dtype: int64

In [ ]:
voter_df['b_effective'].value_counts()

False    338635
True      46352
Name: b_effective, dtype: int64

In [ ]:
output = voter_df[['VOTER_ID','a_effective','b_effective']]

In [ ]:
output.to_csv('recommendations.csv', index=False)