In [1]:
!pip install surprise

import heapq
from collections import defaultdict
import pandas as pd
import matplotlib.pylab as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

from surprise import Dataset, Reader, KNNBasic
from surprise.model_selection import train_test_split

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 14.4 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633739 sha256=44aa79c4ac677b01a8bf402d6886ec557cdf1450c6cef49fe64334bba382e5e8
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [2]:
course_df = pd.read_csv('Coursetopics.csv')

In [3]:
ratings = []
for customer, row in course_df.iterrows():
    for course, value in row.iteritems():
        if value==0: continue
        ratings.append([customer, course, value])
ratings = pd.DataFrame(ratings, columns=['customer', 'course', 'rating'])

In [4]:
ratings.head()

   customer      course  rating
0         0       Intro       1
1         0  DataMining       1
2         1      Survey       1
3         2  DataMining       1
4         2    Cat Data       1

In [5]:
reader = Reader()

In [6]:
data = Dataset.load_from_df(ratings, reader)

In [7]:
trainset, testset = train_test_split(data, test_size = .25, random_state=1)

In [8]:
sim_options = {'name': 'cosine','user_based':'True'}
algo = KNNBasic(sim_options=sim_options)
algo.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [9]:
predictions = []
for user in course_df.index:
    predictions.append([algo.predict(user, course).est for course in course_df])
predictions = pd.DataFrame(predictions, columns=course_df.columns)

In [10]:
predictions

     Intro  DataMining  Survey  Cat Data  Regression  Forecast  DOE  SW
0        1           1       1         1           1         1    1   1
1        1           1       1         1           1         1    1   1
2        1           1       1         1           1         1    1   1
3        1           1       1         1           1         1    1   1
4        1           1       1         1           1         1    1   1
..     ...         ...     ...       ...         ...       ...  ...  ..
360      1           1       1         1           1         1    1   1
361      1           1       1         1           1         1    1   1
362      1           1       1         1           1         1    1   1
363      1           1       1         1           1         1    1   1
364      1           1       1         1           1         1    1   1

[365 rows x 8 columns]

In [11]:
reader = Reader(rating_scale=(0,1))

In [12]:
data = Dataset.load_from_df(ratings, reader)

In [13]:
trainset, testset = train_test_split(data, test_size = .25, random_state=1)

In [14]:
sim_options = {'name': 'cosine','user_based':'True'}
algo = KNNBasic(sim_options=sim_options)
algo.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [15]:
predictions = []
for user in course_df.index:
    predictions.append([algo.predict(user, course).est for course in course_df])
predictions = pd.DataFrame(predictions, columns=course_df.columns)

In [16]:
predictions

     Intro  DataMining  Survey  Cat Data  Regression  Forecast  DOE  SW
0        1           1       1         1           1         1    1   1
1        1           1       1         1           1         1    1   1
2        1           1       1         1           1         1    1   1
3        1           1       1         1           1         1    1   1
4        1           1       1         1           1         1    1   1
..     ...         ...     ...       ...         ...       ...  ...  ..
360      1           1       1         1           1         1    1   1
361      1           1       1         1           1         1    1   1
362      1           1       1         1           1         1    1   1
363      1           1       1         1           1         1    1   1
364      1           1       1         1           1         1    1   1

[365 rows x 8 columns]

In [17]:
# Since the data we are working with is not an actual rating and just an indication of whether or not a student purchased a course, there is really no way to compare or differentiate between the preferences of different students.
# This is why all courses are recommended for all students.