In [1]:
!pip install dmba
import dmba
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pylab as plt
from dmba import classificationSummary, liftChart, gainsChart

Requirement already satisfied: dmba in /usr/local/lib/python3.7/dist-packages (0.1.0)
no display found. Using non-interactive Agg backend

In [2]:
cabs_df = pd.read_csv('Taxi-cancellation-case.csv')

In [3]:
cabs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   row#                 10000 non-null  int64
 1   user_id              10000 non-null  int64
 2   vehicle_model_id     10000 non-null  int64
 3   package_id           1752 non-null   float64
 4   travel_type_id       10000 non-null  int64
 5   from_area_id         9985 non-null   float64
 6   to_area_id           7909 non-null   float64
 7   from_city_id         3706 non-null   float64
 8   to_city_id           339 non-null    float64
 9   from_date            10000 non-null  object
 10  to_date              5822 non-null   object
 11  online_booking       10000 non-null  int64
 12  mobile_site_booking  10000 non-null  int64
 13  booking_created      10000 non-null  object
 14  from_lat             9985 non-null   float64
 15  from_long            9985 non-null   float64
 16  to_lat               7909 non-null   float64
 17  to_long              7909 non-null   float64
 18  Car_Cancellation     10000 non-null  int64
dtypes: float64(9), int64(7), object(3)
memory usage: 1.4+ MB

In [4]:
cabs_df.head()

,row#,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,to_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,1,17712,12,NaN,2,1021.0,1323.0,NaN,NaN,1/1/13 22:33,NaN,0,0,1/1/13 8:01,13.028530,77.54625,12.869805,77.653211,0
1,2,17037,12,NaN,2,455.0,1330.0,NaN,NaN,1/1/13 12:43,NaN,0,0,1/1/13 9:59,12.999874,77.67812,12.953434,77.706510,0
2,3,761,12,NaN,2,814.0,393.0,NaN,NaN,1/2/13 0:28,1/3/13 0:00,1,0,1/1/13 12:14,12.908993,77.68890,13.199560,77.706880,0
3,4,868,12,NaN,2,297.0,212.0,NaN,NaN,1/1/13 13:12,NaN,0,0,1/1/13 12:42,12.997890,77.61488,12.994740,77.607970,0
4,5,21716,28,NaN,2,1237.0,330.0,NaN,NaN,1/1/13 16:33,NaN,0,0,1/1/13 15:07,12.926450,77.61206,12.858833,77.589127,0

In [5]:
cabs_df.dropna(subset=['from_area_id','to_area_id'], inplace = True)

In [6]:
predictors = ['from_area_id','to_area_id','travel_type_id','online_booking','mobile_site_booking']
outcome = 'Car_Cancellation'

In [7]:
# partition data
X = cabs_df[predictors]
y = cabs_df[outcome]
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.4, random_state = 1)

In [8]:
# Logistic Regression model
logit_reg = LogisticRegression()

In [9]:
logit_reg.fit(X_train, y_train)

LogisticRegression()

In [10]:
classificationSummary(y_valid, logit_reg.predict(X_valid))

Confusion Matrix (Accuracy 0.9241)

       Prediction
Actual    0    1
     0 2924    0
     1  240    0

In [11]:
# While the accuracy is high, the model is not very useful as it does not classify any entries as a 1

In [12]:
# Linear Discriminant Analysis model
lda = LinearDiscriminantAnalysis()

In [13]:
lda.fit(X_train, y_train)

LinearDiscriminantAnalysis()

In [14]:
classificationSummary(y_valid, lda.predict(X_valid))

Confusion Matrix (Accuracy 0.9241)

       Prediction
Actual    0    1
     0 2924    0
     1  240    0

In [15]:
# While the accuracy is high, the model is not very useful as it does not classify any entries as a 1

In [16]:
# Neural Net model
mlpc = MLPClassifier()

In [17]:
mlpc.fit(X_train, y_train)

MLPClassifier()

In [18]:
classificationSummary(y_valid, mlpc.predict(X_valid))

Confusion Matrix (Accuracy 0.9207)

       Prediction
Actual    0    1
     0 2909   15
     1  236    4

In [32]:
# This is some progress! Although the accuracy is ower than the other 2 models, this model does correctly identify some records as being 1!

In [20]:
# k-nearest neighbors model, 3 neighbors
knn = KNeighborsClassifier(n_neighbors=3)

In [21]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [22]:
classificationSummary(y_valid, knn.predict(X_valid))

Confusion Matrix (Accuracy 0.9080)

       Prediction
Actual    0    1
     0 2854   70
     1  221   19

In [35]:
# k-nearest neighbors model, 1 neighbors
knn1 = KNeighborsClassifier(n_neighbors=1)

In [36]:
knn1.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [37]:
classificationSummary(y_valid, knn1.predict(X_valid))

Confusion Matrix (Accuracy 0.8723)

       Prediction
Actual    0    1
     0 2718  206
     1  198   42

In [38]:
# Decision Tree Classifier
dec_tree = DecisionTreeClassifier()

In [39]:
dec_tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [40]:
classificationSummary(y_valid, dec_tree.predict(X_valid))

Confusion Matrix (Accuracy 0.8812)

       Prediction
Actual    0    1
     0 2748  176
     1  200   40

In [41]:
# Random Forest model
rdm_for = RandomForestClassifier()

In [42]:
rdm_for.fit(X_train, y_train)

RandomForestClassifier()

In [43]:
classificationSummary(y_valid, rdm_for.predict(X_valid))

Confusion Matrix (Accuracy 0.9027)

       Prediction
Actual    0    1
     0 2835   89
     1  219   21